[submodule "CMakeProjectFramework"]
	path = CMakeProjectFramework
	url = https://github.com/ChristianHinkle/CMakeProjectFramework.git
[submodule "CMakeUtils_Misc"]
	path = CMakeUtils_Misc
	url = https://github.com/ChristianHinkle/CMakeUtils_Misc.git
[submodule "CMakePresets_General"]
	path = CMakePresets_General
	url = https://github.com/ChristianHinkle/CMakePresets_General
