[submodule "GeneralCMakePresets"]
	path = GeneralCMakePresets
	url = https://github.com/ChristianHinkle/GeneralCMakePresets
[submodule "GeneralCMakeModules"]
	path = GeneralCMakeModules
	url = https://github.com/ChristianHinkle/GeneralCMakeModules
[submodule "CMakeProjectFramework"]
	path = CMakeProjectFramework
	url = https://github.com/ChristianHinkle/CMakeProjectFramework.git
